### Data de entrega: 29/09/2021 (dia da prova)
_________

# Projeto módulo 5 - Crédito para Financiamento de Imóveis


____________


## Contextualização

A PyCoders Ltda., cada vez mais especializada no mundo da Inteligência Artificial e Ciência de Dados, foi procurada por uma fintech para desenvolver um projeto de concessão de crédito para imóveis. Nesse projeto, espera-se a criação de valor que **discrimine ao máximo** os **bons pagadores** dos **maus pagadores**. 

Para isso, foi disponibilizada uma base de dados com milhares de casos de **empréstimos do passado** com diversas características dos clientes. 

Entrega: um modelo com a **melhor performance** possível.

Métrica de performance (inicialmente proposta): **ROC-AUC.**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# desabilita os warnings
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('datasets/application_train.csv', index_col=0)

# dropando NaNs e features categóricas
df_aux = df.dropna().select_dtypes(include=np.number)
df = pd.concat([df_aux, df.dropna()["TARGET"]], axis=1)          
df.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
113812,0,0,225000.0,497520.0,53712.0,450000.0,0.004849,-9112,-450,-8771.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0
129009,0,0,135000.0,518562.0,26604.0,463500.0,0.019101,-17368,-166,-3767.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0
441227,0,0,360000.0,367560.0,13855.5,225000.0,0.010006,-22188,-5875,-9342.0,...,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0
112534,0,0,180000.0,269550.0,21739.5,225000.0,0.019689,-10388,-1726,-4385.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0
195991,0,0,157500.0,576072.0,28147.5,405000.0,0.025164,-10579,-662,-4761.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [7]:
X = df.drop(columns="TARGET")
y = df["TARGET"]

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.2, 
                                                    random_state=42,
                                                    stratify=y)